.App {
    text-align: center;
    overflow: hidden;
    position: fixed;
}

body, html {
    color: #ffffff;
    background-color: #282c34;
    overflow: hidden;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body, html {
        /* color: white;
        background-color: #282c34;*/
    }
}